body{
    background-color: white;
    transition: 1s;
}
.main-container , .left-btn , .right-btn {
    background: #FFD073;

}
.main-container-reg{
    background-color: orange;
}
.block p{
    color: black;
}

